[submodule "coinbin"]
	path = coinbin
	url = https://github.com/h4x3rotab/coinbin.git
[submodule "btg-transparent"]
	path = btg-transparent
	url = https://github.com/h4x3rotab/btg-transparent.git
	branch = h4x
